- if Workarea.config.callrail_target_num.present?
  / Tracking num
  %p
    = inline_svg('workarea/storefront/icons/phone.svg', class: 'svg-icon svg-icon--black-alpha-50')
    %span.tracking_num--text= "Phone:"
    %span.tracking_num= link_to "#{Workarea.config.callrail_target_num}", tel: "#{Workarea.config.callrail_target_num}"